.container {
    display: flex;
    flex-direction: column;
}
.label {
    font-size: 1.5rem;
    font-weight: bold;
}
.input {
    margin: 0.6rem 0 0.6rem 0;
    background: transparent;
    border: thin solid #979b9c;
    padding: 0.3rem 0.4rem 0.3rem 0.4rem;
}
