.button {
    background-color: var(--button);
    border: none;
    cursor: pointer;
    color: white;
    height: 3rem;
    min-width: 10rem;
}
.button:hover {
    background-color: #c52891;
    transition: 0.2s;
}
@media (max-width: 340px) {
    .button {
        width: 100%;
    }
}
